---

services:
  app:
    build: !reset
    environment:
      - CAPYBARA_SAVE_PATH=/opt/app/artifacts
    image: ${DOCKER_APP_IMAGE}
    depends_on:
      - selenium
    volumes: !override
      - artifacts:/opt/app/artifacts
      - selenium_downloads:/opt/app/tmp/selenium_downloads
  
  db:
    volumes: !reset

  iipsrv: 
    volumes: !override
      - iipsrv_data:/iipsrv-data

  selenium:
    volumes: !override
      - artifacts:/build

  selenium-chrome:
    depends_on:
      -selenium

  adminer: !reset

volumes:
  artifacts:
  selenium_downloads:
  iipsrv_data:
