@import "../includes/globals";

// ////////////////////////////////////////////////////////////
// Shared between layouts

section {
  &.index {
    padding-top: $margin-large;
    font-weight: $font-weight-light;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    // TODO: Share between index.scss, stats.scss
    h2 {
      width: 100%;
      box-sizing: border-box;
    }

    section.lending-item {
      margin-left: $margin;

      &:first-of-type {
        margin-top: $margin-small;
      }

      &:not(:first-of-type) {
        margin-top: $margin;
        border-top: 1px solid $color-row-divider;
      }

      // TODO: Share between index.scss, stats.scss
      h3 {
        width: 100%;
        box-sizing: border-box;
      }

      ul.actions {
        display: flex;
        padding: 0;

        li.action {
          display: block;
          margin-right: $margin;
        }
      }

      h4 {
        font-size: 1rem;
        line-height: $line-height;
        font-weight: $font-weight-bold;
        margin-top: $margin-xlarge;
        margin-bottom: $margin-xsmall;
      }

      .problems {
        font-weight: bold;
        color: $color-warning;
      }

      p {
        font-size: $font-size-small;
        line-height: $line-height;
        margin-bottom: $margin-xsmall;

        &.problems {
          font-size: $font-size-xsmall;
          line-height: $line-height;
        }
      }

      .author-name {
        font-weight: $font-weight-medium;
      }

      table {
        &.processing {
          font-size: $font-size-xsmall;
          line-height: $line-height;
          width: fit-content;

          // TODO: share with stats
          thead {
            th {
              background-color: inherit;
              color: inherit;
              font-weight: $font-weight-bold;
              padding-left: $margin-small;
            }
          }
        }

        &.lending-metadata {
          font-size: $font-size-xsmall;
          line-height: $line-height;
          margin-top: $margin;

          th, td {
            padding: 0 $margin-large 0 0;
            border-top: none;
            text-align: left;
          }
        }
      }

      details {
        summary {
          display: list-item;
          font-size: $font-size-xsmall;
          line-height: $line-height;
        }
      }
    }

  }
}

// ////////////////////////////////////////////////////////////
// Desktop layout

@media (min-width: $media-breakpoint-width) {
  section.index {
    section.lending-item {
      display: grid;
      grid-template-columns: minmax(0, 1fr) min-content;

      div.item-info {
        grid-column: 1;
      }

      ul.actions {
        margin-top: $margin-small;
        margin-left: $margin;
        grid-column: 2;

        li {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: $media-breakpoint-width) {
  section.index {
    section.lending-item {
      ul.actions {
        margin-top: $margin;
      }
    }
  }
}
