@import '../includes/globals';

section.viewer {
  position: relative;
  margin-top: $margin;
  height: 1024px; // TODO: something sensible
  width: 100%;

  // TODO: figure out how to override this in Material UI theme
  .mirador-window-top-bar {
    border-top: 2px solid transparent !important;
  }
}
