// ////////////////////////////////////////////////////////////
// Colors

// //////////////////////////////
// UC brand colors

$color-pacific: #46535e;
$color-web-grey: #888888;
$color-bay-fog: #ddd5c7;
$color-california-gold: #fdb515;
$color-golden-gate: #ed4e33;
$color-lap-lane: #00a598;
$color-rose-garden: #ee1f60;
$color-south-hall: #6c3302;

// //////////////////////////////
// As used

$color-site-name: $color-pacific;
$color-header-divider: $color-web-grey;

$color-reversed-background: $color-pacific;
$color-row-divider: $color-bay-fog;
$color-anchor-highlight: $color-california-gold;
