@import 'globals';

aside.flash {
}

ul.flash {
  display: contents;

  li {
    display: block;

    background-color: $color-action-secondary;
    color: white !important;

    font-size: $font-size-small;
    line-height: $line-height;

    font-weight: $font-weight-medium;
    border: 1px solid transparent;
    border-radius: $margin-small;
    padding: $margin $margin-large;
    margin-top: $margin;
    margin-bottom: $margin;

    &.success, &.notice {
      border-color: $color-success-border;
      background-color: $color-success;
    }

    &.warning {
      border-color: $color-warning-border;
      background-color: $color-warning;
    }

    &.alert, &.danger {
      border-color: $color-danger-border;
      background-color: $color-danger;
    }
  }
}
