// ////////////////////////////////////////////////////////////
// Fonts

$font-family-sans: freight-sans-pro, sans-serif;

// UC Berkeley brand guidelines don't specify a monospace font.
// Inconsolata is a nice, narrow (and free) sans-serif mono that
// supports a wide range of characters and has an x-height close
// to that of Freight Sans.
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');
$font-family-mono: 'Inconsolata', Courier, 'Courier New', monospace;

$font-weight-light: 300;
$font-weight-normal: 400; // actually 'book' but 'normal' is easier to remember
$font-weight-medium: 500;
$font-weight-bold: 700;
