@import 'globals';

body > header {
  background: $color-background;
  border-bottom: 1px solid $color-header-divider;
  display: flex;
  flex-direction: column;

  div {
    &.header-logo {
      display: flex;
      flex-direction: column;
      margin-bottom: $margin-large;

      a {
        display: block;
        box-shadow: none;
        background-color: transparent !important;
      }

      img {
        &.header-logo {
          display: block;
          height: 52px;
          width: 315px;
        }
      }

      span {
        &.site-name {
          color: $color-site-name;
          display: block;
          line-height: $line-height;
          letter-spacing: $margin-xsmall;
          text-transform: uppercase;
        }
      }

    }
  }

  nav {

    a {
      box-shadow: none;
    }
  }
}

// ////////////////////////////////////////////////////////////
// Desktop/tablet layout

@media (min-width: $media-breakpoint-width) {
  body > header {
    padding-top: $margin-xlarge;
    padding-right: $margin-xlarge;
    padding-left: $margin-xlarge;

    div {
      &.header-logo {
        flex-direction: row;

        span {
          &.site-name {
            font-size: $font-size-normal;
            padding-left: $margin;
            padding-top: 0.65rem; 
          }
        }
      }
    }

    nav {
      input {
        &#nav-menu {
          display: none;
        }
      }

      label {
        &.nav-menu-label {
          display: none;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;
        padding-bottom: $margin-large;

        li {
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
  }
}

// ////////////////////////////////////////////////////////////
// Mobile layout

@media (max-width: $media-breakpoint-width) {
  body > header {
    padding: $margin $margin 0;

    div {
      &.header-logo {
        align-items: center;
        flex-direction: column;

        span {
          &.site-name {
            font-size: $font-size-large;
            padding-left: $margin-xsmall;
            padding-top: $margin;
          }
        }
      }
    }

    nav {
      $nav-menu-height: $font-size-xxxlarge;

      position: relative;
      margin-bottom: $margin-xlarge;
      margin-top: $margin-xlarge;
      text-align: center;

      min-height: $nav-menu-height;

      // sass-lint:disable-block no-ids, no-qualifying-elements
      input {
        &#nav-menu {
          appearance: none;
          -webkit-appearance: none;
          height: $nav-menu-height;
          width: $nav-menu-height + 1rem;
          padding: 0;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          top: 0;
          left: calc(50% - 1.5rem);

          &:checked ~ ul {
            display: block;

            li {
              font-size: $font-size-xxxlarge;
              line-height: $line-height;
              margin-top: $margin;
              text-align: center;
            }
          }

          &:focus ~ label.nav-menu-label {
            svg {
              color: $color-anchor-highlight;
              transition: color 0.25s;
            }
          }

          &:hover ~ label.nav-menu-label {
            svg {
              color: $color-anchor-highlight;
              transition: color 0.25s;
            }
          }
        }
      }

      label {
        &.nav-menu-label {
          display: block;
          position: absolute;
          top: 0;
          left: calc(50% - 1rem);
          padding-left: 2px;
          padding-top: 2px;

          svg {
            height: $nav-menu-height;
          }
        }
      }

      ul {
        display: none;
        margin-top: $margin-large;
        padding: $margin-large $margin-xsmall;
      }
    }
  }
}
