@import 'globals';

// ////////////////////////////////////////////////////////////
// Desktop/tablet layout

@media (min-width: $media-breakpoint-width) {
  body {
    > main {
      padding: $margin-xlarge;

      > nav {
        ul {
          display: flex;
          flex-direction: row;
          gap: $margin-xlarge;

          li {
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
          }
        }
      }
    }
  }
}

@media (max-width: $media-breakpoint-width) {
  body {
    > main {
      padding: $margin;
    }
  }
}
