@import 'reset';
@import 'body';
@import 'header';
@import 'flash';
@import 'main';
@import 'footer';
@import 'table';

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
}

// ////////////////////////////////////////////////////////////
// Semantic elements

// TODO: clean up all these !importants & just reset Mirador styles

h1 {
  font-size: $font-size-xlarge !important;
  line-height: $line-height !important;
  margin-bottom: $margin-large;
}

h2 {
  background: $color-background-reversed;
  color: white;
  padding: $margin-small $margin;

  font-size: $font-size-normal !important;
  line-height: $line-height !important;

  font-weight: $font-weight-normal !important;
}

h3 {
  font-size: $font-size-normal !important;
  line-height: $line-height !important;

  font-weight: $font-weight-medium !important;
  margin-bottom: $margin;
}

h4 {
  font-size: $font-size-small !important;
  line-height: $line-height !important;

  font-weight: $font-weight-bold !important;

  text-transform: uppercase !important;
  letter-spacing: normal !important;
}

h5 {
  font-size: $font-size-small !important;
  line-height: $line-height !important;

  font-weight: $font-weight-medium !important;
  font-variant-numeric: lining-nums !important;

  margin-bottom: $margin !important;
}

h6 {
  font-size: $font-size-xxsmall !important;
  line-height: $line-height !important;

  font-weight: $font-weight-bold !important;
  text-transform: uppercase !important;

  margin-bottom: $margin-small;
}

@media (max-width: $media-breakpoint-width) {
  h1 {
    text-align: center;
    margin-left: $margin-xxxlarge;
    margin-right: $margin-xxxlarge;
    margin-bottom: $margin;
  }
}

// ////////////////////////////////////////////////////////////
// Block elements

input {
  font-family: $font-family-sans;
  font-variant-numeric: lining-nums;
  font-weight: $font-weight-normal;

  &[type=text] {
    font-size: $font-size-small;
    line-height: $line-height;
    border: 1px solid $color-action-secondary;
    border-radius: $margin-small;
    padding: $margin-xxsmall $margin;
  }
}

ul.actions {
  display: flex;
  flex-direction: row;
  gap: $margin;

  li {
    display: contents;
  }
}

a.btn, input[type=button], input[type=submit] {
  font-size: $font-size-small;
  line-height: $line-height;

  border: 1px solid $color-action-secondary;
  border-radius: $margin-small;
  padding: $margin-xxsmall $margin;

  box-shadow: none;
  display: inline-block;

  transition: background-color 0.25s, color 0.25s;

  color: white !important;

  font-weight: $font-weight-medium;

  &:disabled {
    border-color: $color-disabled !important;
    background-color: $color-disabled !important;
  }

  &.primary {
    background-color: $color-action-primary;
    border-color: $color-background-reversed;
  }

  &.secondary {
    background-color: $color-action-secondary;
    border-color: $color-background-reversed;
  }

  &.danger {
    border-color: $color-danger-border;
    background-color: $color-danger;
  }

  &:hover {
    color: $color-action-primary !important;
    background-color: $color-anchor-highlight;
  }
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 $color-anchor-highlight;
  transition: background-color 0.25s;

  &:hover {
    background-color: $color-anchor-highlight;
  }
}

em {
  font-style: italic;
}

code {
  font-family: $font-family-mono;
  font-weight: $font-weight-light;
}

strong {
  font-weight: $font-weight-bold;
}

// ////////////////////////////////////////////////////////////
// Shared classes

.visually-hidden {
  position: absolute !important;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
