@import 'reset';
@import 'body';
@import 'header';
@import 'flash';
@import 'main';
@import 'footer';
@import 'table';
@import 'actions';

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
  font-variant-numeric: lining-nums !important;
}

// ////////////////////////////////////////////////////////////
// Semantic elements

// TODO: clean up all these !importants & just reset Mirador styles

h1 {
  font-size: $font-size-xlarge !important;
  line-height: $line-height !important;
  margin-bottom: $margin-large;
}

h2 {
  background: $color-background-reversed;
  color: white;
  padding: $margin-small $margin;

  font-size: $font-size-normal !important;
  line-height: $line-height !important;

  font-weight: $font-weight-normal !important;
}

h3 {
  font-size: $font-size-normal !important;
  line-height: $line-height !important;

  font-weight: $font-weight-medium !important;
  margin-bottom: $margin;
}

h4 {
  font-size: $font-size-small !important;
  line-height: $line-height !important;

  font-weight: $font-weight-bold !important;

  text-transform: uppercase !important;
  letter-spacing: normal !important;
}

h5 {
  font-size: $font-size-small !important;
  line-height: $line-height !important;

  font-weight: $font-weight-medium !important;
  margin-bottom: $margin !important;
}

h6 {
  font-size: $font-size-xxsmall !important;
  line-height: $line-height !important;

  font-weight: $font-weight-bold !important;
  text-transform: uppercase !important;

  margin-bottom: $margin-small;
}

@media (max-width: $media-breakpoint-width) {
  h1 {
    text-align: center;
    margin-left: $margin-xxxlarge;
    margin-right: $margin-xxxlarge;
    margin-bottom: $margin;
  }
}

// ////////////////////////////////////////////////////////////
// Block elements

p {
  margin-top: $margin-small;
  margin-bottom: $margin-small;

  font-size: $font-size-small;
  line-height: $line-height;
}

fieldset {
  display: contents;

  legend {
    display: contents;
  }
}

input {
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;

  &[type=text], &[type=search] {
    font-size: $font-size-small;
    line-height: $line-height;
    border: 1px solid $color-action-secondary;
    border-radius: $margin-xxsmall;
    padding: $margin-xxsmall $margin;
  }
}

select {
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  line-height: $line-height;
  border: 1px solid $color-action-secondary;
  border-radius: $margin-xxsmall;
  padding: $margin-xxsmall $margin;
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 $color-anchor-highlight;
  transition: background-color 0.25s;

  &:hover, &:focus {
    background-color: $color-anchor-highlight;
  }
}

em {
  font-style: italic;
}

code {
  font-family: $font-family-mono;
  font-weight: $font-weight-light;
}

strong {
  font-weight: $font-weight-bold;
}

// ////////////////////////////////////////////////////////////
// Classes applicable to various elements

// Cf. https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
.visually-hidden {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);

  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0 !important;
  margin: -1px !important;;
  padding: 0 !important;
}