@import 'reset';
@import 'body';
@import 'header';
@import 'flash';
@import 'main';
@import 'footer';
@import 'table';

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
}

// ////////////////////////////////////////////////////////////
// Semantic elements

h1 {
  font-size: $font-size-xlarge;
  line-height: $line-height;
}

@media (max-width: $media-breakpoint-width) {
  h1 {
    text-align: center;
    margin-left: $margin-xxxlarge;
    margin-right: $margin-xxxlarge;
    margin-bottom: $margin;
  }
}

// ////////////////////////////////////////////////////////////
// Block elements

input {
  font-family: $font-family-sans;
  font-variant-numeric: lining-nums;
  font-weight: $font-weight-medium;
}

ul.actions {
  display: flex;
  flex-direction: row;
  gap: $margin;

  li {
    display: contents;

    a {
      box-shadow: none;
    }

    a, input[type=button], input[type=submit] {
      display: block;

      border-width: 1px;
      border-style: solid;

      background-color: $color-lap-lane;
      border-color: $color-pacific;

      color: white !important;

      font-family: $font-family-sans;
      font-size: $font-size-small;
      line-height: $line-height;

      font-weight: $font-weight-medium;
      border-radius: $margin-small;
      padding: $margin-xxsmall $margin;

      &:disabled {
        border-color: $color-web-grey;
        background-color: $color-web-grey;
      }

      &.primary {
        background-color: $color-berkeley-blue;
        border-color: $color-pacific;

        &:disabled {
          border-color: $color-web-grey;
          background-color: $color-web-grey;
        }
      }

      &.secondary {
        background-color: $color-founders-rock;
        border-color: $color-pacific;

        &:disabled {
          border-color: $color-web-grey;
          background-color: $color-web-grey;
        }
      }

      &.danger {
        border-color: $color-golden-gate;
        background-color: $color-rose-garden;

        &:disabled {
          border-color: $color-web-grey;
          background-color: $color-web-grey;
        }
      }
    }
  }
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: inset 0 -4px 0 $color-anchor-highlight;
  }
}

em {
  font-style: italic;
}

code {
  font-family: $font-family-mono;
  font-weight: $font-weight-light;
}

strong {
  font-weight: $font-weight-bold;
}
