@import 'globals';

// ////////////////////////////////////////////////////////////
// mini-reset

table {
  border-collapse: collapse;
  border-spacing: 0;

  th, td {
    min-width: 0;
    vertical-align: top;

    input[type=text] {
      width: 100%;
      box-sizing: border-box;
    }
  }

  ul {
    padding-left: 0;
  }
}

// ////////////////////////////////////////////////////////////
// Shared between layouts

table {
  thead {
    th {
      background: $color-background-reversed;
      border: 0;
      color: white;
      text-align: left;

      h2 {
        margin-bottom: 0;
      }
    }
  }

  tbody {
    th {
      font-weight: $font-weight-medium;
    }
  }

  tr {
    th {
      padding: $margin-small $margin;
      white-space: nowrap;
    }

    td {
      padding: $margin-small;

      &.action {
        padding-left: 5px;
        padding-right: 5px;
        white-space: normal;
      }

      &.copyright {
        border-bottom: none;
        margin-top: $margin-xlarge;

        h3 {
          padding-top: $margin-xlarge;
        }
      }
    }

    &:not(:first-child) {
      th, td {
        border-top: 1px solid $color-row-divider;
      }
    }
  }
}

// ////////////////////////////////////////////////////////////
// Desktop layout

@media (min-width: $media-breakpoint-width) {
  table {
    h2 {
      line-height: $line-height;
    }
  }
}

// ////////////////////////////////////////////////////////////
// Mobile layout

@media (max-width: $media-breakpoint-width) {
  table {
    h2 {
      line-height: $em;
    }
  }
}
