<tr>
  <td class="warning">
    <h3><%= t('items.view.copyright.header') %></h3>
    <p>
      <%= t('items.view.copyright.text') %>
    </p>
  </td>
</tr>
<tr>
  <td class="action wide">
    <%= presenter.action %>
  </td>
</tr>
