<section class="viewer">
  <% if @lending_item.complete? %>
    <div id="iiif_viewer" data-manifest-id="<%= manifest_url %>"></div>
  <% else %>
    <p><%= LendingItem::MSG_INCOMPLETE %></p>
  <% end %>
</section>
