<% content_for(:page_title, "UC BEARS: Editing #{@lending_item.title}") %>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<%# TODO: style navigation properly %>
<nav>
<%= link_to 'Index', index_path %> |
<%= link_to 'Back to item', lending_show_path(directory: @lending_item.directory) %>
</nav>

<%= render(partial: 'form', locals: { item: @lending_item }) %>
