@import './includes/admin';
@import './includes/globals';

section.admin {
  &#items-admin {

    form.search {
      grid-column: 1 / 3;
      display: contents;

      label {
        grid-column: 1;
        font-weight: bold;
        white-space: nowrap;
        align-self: center;

        margin-bottom: $margin;
      }

      div.item-search-field {
        grid-column: 2;
        display: grid;
        grid-template-columns: 50% min-content;
        justify-content: start;
        gap: $margin;

        margin-bottom: $margin;

        input {
          font-size: $font-size-xsmall;
          line-height: $line-height;
        }

        button {
          font-size: $font-size-xsmall;
          line-height: $line-height;
        }
      }
    }

    table {
      caption {
        // TODO: find less hacky way to align with facets
        margin-top: calc(-7 * $line-height / 6);
        margin-bottom: calc($line-height / 6);
        margin-left: $margin-xxsmall;
      }
    }

  }
}
