@import 'includes/shared';

section {
  &.stats-subsection {
    margin-bottom: $margin-xlarge;

    // TODO: Share between index.scss, stats.scss
    h2 {
      width: 100%;
      box-sizing: border-box;
    }

    // TODO: Share between index.scss, stats.scss
    h3 {
      width: 100%;
      box-sizing: border-box;
    }

    ul {
      font-size: $font-size-small;
      padding-left: $margin-xlarge;

      list-style: square;
    }

    section.notes {
      margin-left: $margin;

      h3 {
        border-bottom: 0;
      }
    }

    &.stats-subsection {
      margin-left: $margin;
      margin-top: $margin-xxlarge;

      h3 {
        border-bottom: 1px solid $color-background-reversed;
      }
    }
  }

  ul.stats-downloads {
    li {
      list-style-type: none;
    }
  }
}

table.stats-table {
  width: 100%;
  box-sizing: border-box;

  font-size: $font-size-small;
  line-height: $line-height;

  th {
    text-align: left;
    font-weight: $font-weight-medium;
  }

  td {
    &:last-child {
      width: 100%;
      box-sizing: border-box;
    }
  }

  td {
    padding-left: $margin;
  }

  // TODO: better stats-summary styling logic
  tr.stats-summary {
    th, td {
      border-top: 2px solid $color-background-reversed;
    }

    td {
      font-weight: $font-weight-medium;
    }
  }
}

// ////////////////////////////////////////////////////////////
// Responsive layouts

@media (min-width: 3 * $media-breakpoint-width / 2) {
  ul.stats-downloads {
    column-count: 4;
  }
}

@media (min-width: $media-breakpoint-width) and (max-width: 3 * $media-breakpoint-width / 2) {
  ul.stats-downloads {
    column-count: 3;
  }
}

@media (min-width: $media-breakpoint-width / 2) and (max-width: $media-breakpoint-width) {
  ul.stats-downloads {
    column-count: 2;
  }
}
