@import 'includes/admin';

section.admin {
  &#terms-admin {
    table {
      width: fit-content;
    }

    tr.add-term {
      border-top: 1px solid $color-row-divider;

      div.actions {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-size: $font-size-xsmall;
          line-height: $line-height;
          margin-left: $margin;
          margin-right: $margin;
        }
      }
    }
  }
}
