@import 'includes/globals';

section.viewer {
  position: relative;
  margin-top: $margin;

  height: 1024px; // TODO: something sensible
  width: 100%;
  box-sizing: border-box;

  background: black;

  a {
    box-shadow: none;
    transition: none;

    &:hover {
      background-color: inherit;
    }
  }

  // ////////////////////////////////////////////////////////////
  // Mirador styling overrides

  // TODO: figure out how to override these in Material UI theme

  .mirador-window-top-bar {
    border-top: 2px solid transparent !important;
  }

  .mirador-primary-window {
    background-color: black;
  }

  .mirador-osd-container {
    display: grid;
    margin-top: $margin;
    grid-row-gap: $margin;

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) min-content;

    .openseadragon-container {
      grid-row: 1;
      box-sizing: border-box;
    }

    .mirador-canvas-nav {
      background: black;
      position: static;
      grid-row: 2;
    }
  }

  .MuiIconButton-root {
    padding: $margin-small;
  }

  .MuiSvgIcon-root {
    font-size: $font-size-normal;
  }

  .MuiButtonBase-root {
    &.Mui-disabled {
      color: $color-disabled;
    }

    &:not(.Mui-Disabled) {
      transition: background-color 0.25s, color 0.25s;

      &:hover {
        background-color: $color-anchor-highlight;
        color: $color-background-reversed !important;
      }
    }
  }

  .MuiPaper-root {
    background-color: $color-background-reversed;
  }

  .MuiToolbar-root {
    background-color: $color-background-reversed;
  }

  .MuiTab-textColorPrimary.Mui-selected {
    color: $color-success;
    border-right-color: $color-success-border !important;
  }

  div[class^="Connect(WithPlugins(CompanionArea))-toggle"] {
    background-color: $color-background-reversed;
    margin-top: 0;
    border-left: none;
    border-top: none;
    width: auto;
  }

  // fix page forward/back button layout
  .mirador-osd-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  dl.mirador-label-value-metadata {
    margin-top: $margin-large;

    // TODO: share w/h6
    .MuiTypography-subtitle2 {
      font-size: $font-size-xxsmall !important;
      line-height: $line-height !important;

      font-weight: $font-weight-bold !important;
      text-transform: uppercase !important;

      margin-bottom: $margin-small;
    }

    dd {
      .mirador-third-party-html {
        font-family: $font-family-serif;
        font-size: $font-size-xsmall;
        line-height: $line-height;
      }
    }
  }

  // ////////////////////////////////////////////////////////////
  // Serious Mirador hacks

  // TODO: can we just replace the info sidebar with a custom React component?
  //       see https://github.com/ProjectMirador/mirador/blob/v3.2.0/src/components/WindowSideBarInfoPanel.js

  aside.mirador-window-sidebar-info-panel {
    border-right: 1px solid $color-background-reversed;

    div.MuiToolbar-root {
      display: none;
    }

    div.MuiPaper-root {
      > div {

        &:not(:first-of-type) {
          display: none;
        }

        h4, h5, button {
          display: none;
        }

        dl {
          margin-top: 0;
        }
      }
    }
  }
}
