<%
  flash_messages = flash.each_with_object({}) do |(lvl, msgs), h|
    next unless msgs
    next if (messages = Array(msgs)).empty?

    h[lvl] = messages
  end
%>
<% if flash_messages.any? %>
  <aside id="flash" class="flash">
    <ul class="flash">
      <% flash_messages.each do |lvl, messages| %>
        <% messages.each do |msg| %>
          <li class="<%= lvl %>">
            <p><%= msg %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </aside>
<% end %>
